# Application
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=ama

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_EXCHANGE=car_exchange
RABBITMQ_QUEUE=car
RABBITMQ_ROUTING_KEY=car.new

# JWT Configuration
JWT_SECRET=super-secret-jwt
JWT_EXPIRES_IN=24h
